<nav>
  <ul class="nav">
    <li class="submenu">
      <%= link_to user do %>
        <span class="glyphicon glyphicon-user"></span> Profile
      <% end %>
    </li>
    <li>
      <%= link_to '#' do %>
        <span class="glyphicon glyphicon-lock"></span> Topup Gopay
      <% end %>
    </li>
    <li>
      <%= link_to new_order_path do %>
        <span class="glyphicon glyphicon-list-alt"></span> Order Now
      <% end %>
    </li>
    <li>
      <%= link_to orders_path do %>
        <span class="glyphicon glyphicon-list-alt"></span> Order History
      <% end %>
    </li>
  </ul>
</nav>
