<!-- $(".owl-carousel").owlCarousel(); -->
<div class="center jumbotron">
  <h1>Welcome to the Go-JEK</h1>

  <h2>
    <a href="https://www.go-jek.com/">Everything You Need in One App</a>
  </h2>
  <%= image_tag 'logo.png', alt: "Simplified Go Food" %>
