<!-- $(".owl-carousel").owlCarousel(); -->
<div class="center jumbotron">
  <h1>Welcome to the Go-JEK</h1>

  <h2>
    <a href="https://www.go-jek.com/">Everything You Need in One App</a>
  </h2>
  <%= image_tag 'logo.png', alt: "Simplified Go Food" %>


  <div class="owl-carousel">
    <div class="item"><h1>1</h1></div>
    <div class="item"><h1>2</h1></div>
    <div class="item"><h1>3</h1></div>
    <div class="item"><h1>4</h1></div>
    <div class="item"><h1>5</h1></div>
    <div class="item"><h1>6</h1></div>
  </div>
</div>

<script>
  $(document).ready(function()){
     $(".owl-carousel").owlCarousel();
  }
</script>
