<div class="go_food_form">
  <fieldset>
    <legend>Please enter your details</legend>

    <%= render 'form', order: @order %>
  </fieldset>
</div>

<div id="map-container">
  <div id="map-canvas"></div>
</div>
