<h1>GoPay Balance</h1>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <td><%= @driver.name %></td>
      </tr>
      <tr>
        <th>Gopay Credit</th>
        <td><%= number_to_currency(@driver.gopay, unit: "Rp ", delimiter: ".", separator: ",") %></td>
      </tr>
    </thead>
  </table>
 </div>
