<h1>Order History</h1>

<% if @orders.nil? %>
  <h2>You don't have Job History</h2>
<% else %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Origin</th>
          <th>Destination</th>
          <th>User</th>
          <th>Price</th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.origin %></td>
          <td><%= order.destination %></td>
          <td>
            <% u = User.find(order.user_id) %>
            <%= u.name %>
          </td>
          <td><%= number_to_currency(order.est_price, unit: "Rp ", delimiter: ".", separator: ",") %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
